.playlists {
  position: relative;
  min-height: calc(100vh - 100px);
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero {
    position: sticky;
    top: 50px;
    z-index: 3;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h2 {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      opacity: .75;
    }  
  }
}
