.playlists-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.playlist-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(25% - 20px);
  max-width: 25%;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  &:nth-child(n+5) {
    margin-top: 20px;
  } 
}