.user__avatar {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  border-radius: 100%;
  background-color: #e3e3e3;
  font-size: 18px;
  font-weight: 600;
  color: #777;
  text-align: center;
  line-height: 35px;
  overflow: hidden
}