.login {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    .logo {
      width: 350px;
    }
    .login-button {
      margin-top: 30px;
    }
  }
  @media only screen and (max-width: 767px) {
    .logo {
      width: 200px;
    }
  }
}